<head>
    <link href="/stylesheets/busy-birder.css" rel="stylesheet">
</head>

<button id="back" type="button" onclick="location.href='/ait/'"> &lt; </button>

<table>
	<tr>
		<td>
<h1 id="birds"> Busy Birder </h1>
<h3> You don't know birds 'til you've seen this site! </h3>
</td> <td>
<img src="/images/bird.png" alt="So busy!!!" /> </td>
</tr>
</table>

<hr>

<table style="width:60%" align="center">
  <tr>
    <td><button type="button" onclick="location.href='/ait/birds/list'"> Birds </button></td>
    <td style="width:35%"> </td>
    <td><button type="button" onclick="location.href='/ait/birds/settings'"> Settings </button></td>
  </tr>
</table>