<head>
    <link href="/stylesheets/busy-birder.css" rel="stylesheet">
</head>
<button id="back" type="button" onclick="location.href='/ait/'"> &lt; </button>

<h3> SETTINGS </h3>

Only show birds that have been seen this many times:


<form method="POST" action="">
	<input type="number" name="minVal" value={{minVal}}>
	<input type="submit" name="add">
</form>


<div id="footer"><br><br> <a href="./">Home</a>  &emsp;| &emsp; <a href="./list">Birds</a> &emsp;| &emsp; <a href="./settings">Settings</a></div>

<script src="/javascripts/birds_style.js"></script>
