<style>
    <link href="/stylesheets/thumbnail.css" rel="stylesheet">
</style>

<div class="page-header" id="page-header" style="padding:40px">
    <div class="row" style="text-align:center">
    <img style="display: inline-block;" src="images/signature.png" />
    <span><h3> 
        FINAL PROJECT</h3>
    </span>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">    
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="/bagels" data-caption="Bagel Tracker" data-image="/images/bagel-01.png">
                <img class="img-responsive" src="images/bagelthumbnail.png" alt="Mmm...bagels"/>
                <p style="text-align:center">Bagel Tracker</p>
            </a>
        	</div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="/haiku" data-caption="Haiku generator">
                <img style="padding:30px" class="img-responsive" src="/images/haikuthumbnail.png" alt="haiku"/>
                <p style="text-align:center">Haiku Generator</p>
            </a>
        	</div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="/bobst" data-caption="Where Can I Print In Bobst?">
                <img class="img-responsive" src="/images/printerthumbnail.png" alt="Bobst"/>
                <p style="text-align:center">Where Can I Print In Bobst?</p>
            </a>
        	</div>
        	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="/ait" data-caption="AIT Projects">
                <img class="img-responsive" src="/images/bird.png" alt="ait" style="height:240px"/>
                <p style="text-align:center">AIT Projects</p>
            </a>
        	</div>
    </div>
</div>